.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: left;
  font-size: 48px;
  font-family: "Beth Ellen", cursive;
  font-weight: 900;
  letter-spacing: 0.03rem;
  color: #0f1f40;
  position: fixed;
  z-index: 5;
  margin: 0;
}
